*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* Define Color palette */
  --clr-dark: #111111;
  --clr-light: #fafafa;
  --clr-accent: #ff652f;
  --clr-headings: #ff652f;
  --clr-body: #111111;
  /* Font family */
  --ff-primary: "Segoe UI", "Inter", sans-serif, "Source Sans Pro";
  /* Font size */
  --fs-h1: clamp(4.4rem, 5vw + 1.6rem, 11.2rem);
  --fs-body: 1.8rem;
  --fs-btn: 1.6rem;
  --fs-h2: 3.6rem;
  --fs-h3: 2.4rem;
  --fs-h4: 2.1rem;

  /* Font weight */
  --fw-thin: 300;
  --fw-reg: 400;
  --fw-bold: 700;
  --fw-xbold: 900;
  /* Image size */
  --pic-size: 320px;
}
html {
  /* 62.5% * 16 = 10px */
  font-size: 62.5%;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: var(--clr-light);
  color: var(--clr-body);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  line-height: 1.5; /* default is 1.2*/
}
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
dl,
dd,
picture,
figure,
figcaption,
blockquote,
a {
  margin: 0;
}

a {
  text-decoration: none;
}
.nowrap {
  white-space: nowrap;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Typography */

h1,
h2,
h3,
h4 {
  color: var(--clr-headings);
  letter-spacing: 0.2rem;
  font-weight: var(--fw-bold);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}

input,
button,
textarea,
select,
a {
  font: inherit;
}
:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Removes animation for those who've turned them off*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Links */
.link-arrow {
  color: var(--clr-accent);
  font-size: var(--fs-btn);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.link-arrow::after {
  content: "-->";
  margin-left: 2px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 8px;
}
/* Read more */

.read-more {
  color: var(--clr-accent);
  font-size: var(--fs-btn);
  font-weight: var(--fw-bold);
  margin-left: 1.5rem;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.15s, transform 0.15s;
}
.read-more:hover {
  opacity: 0.85;
  transform: translateX(5px);
}
.read-more:active {
  opacity: 1;
}
.read-more-content {
  display: none;
}

.show-read-more-content {
  display: inline;
}

/* Buttons */
.btn {
  border: 2px solid var(--clr-accent);
  background-color: var(--clr-light);
  color: var(--clr-accent);
  width: 135px;
  font-size: var(--fs-btn);
  padding: 0.3em 0;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 0.5em 0.5em;
  transition: transform 0.2s ease-in-out;
  /* border-radius: 40px; */
}
.btn--noborder {
  border: 0;
}
.btn--accent {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border: 0;
}
.btn:hover {
  transform: scale(1.1);
}
/* Card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__header {
  margin-bottom: 3rem;
}
.card__body {
  margin-bottom: 1rem;
  text-align: center;
}

.project__item {
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.project__image {
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.25s linear;
}
.project__image:hover,
.project__item:focus .projrct__image {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Grids */

.grid {
  display: grid;
  align-items: start;
  justify-items: center;
  place-content: center;
  gap: 8rem;
}
.grid--fit {
  grid-template-columns: repeat(auto-fit, var(--pic-size));
}
/* Blocks */
.block {
  padding: 6rem 2rem;
}
.block--dark {
  background: var(--clr-dark);
  color: var(--clr-light);
}

.block__heading {
  text-align: center;
}
.block__heading::after {
  content: "";
  display: block;
  width: 4em;
  height: 1px;
  background-color: currentColor;
  opacity: 0.25;
  margin: 0.6rem auto 4rem;
}

.block__content {
  text-align: center;
  margin-bottom: 5rem;
}
.block__content > * + * {
  margin-top: 3rem;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}

/* Collapsible */
.collapsible__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in, max-height 0.2s ease-in-out;
}
.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
  max-height: 100svh;
}

/* Hamburger icon */
.nav__toggle {
  position: fixed;
  outline: none;
  border: 0;
  background-color: var(--clr-dark);
  opacity: 0.8;
  border-radius: 100vh;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  top: 1em;
  right: 1em;
  z-index: 100;
}
.nav__toggle:hover .hamburger {
  opacity: 0.9;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger:before,
.hamburger:after {
  width: 1.5em;
  height: 3px;
  border-radius: 2px;
  background: var(--clr-accent);
  transition: transform 0.25s cubic-bezier(0.5, 0, 0.5, 1);
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger:before {
  top: 8px;
}
.hamburger:after {
  bottom: 8px;
}

.collapsible--expanded .hamburger {
  background-color: transparent;
}
.collapsible--expanded .hamburger:before {
  transform: translateY(-8px) rotate(-45deg);
}
.collapsible--expanded .hamburger:after {
  transform: translateY(8px) rotate(45deg);
}
/* Nav bar */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  /* left: 0; */
  right: 0;
  z-index: 99;
  background: var(--clr-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.list {
  list-style: none;
  color: var(--clr-light);
  margin: 0;
  padding: 0;
}
.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav__item {
  margin: 3rem 0;
}

.nav__item > a {
  color: inherit;
  text-transform: uppercase;
  font-weight: var(--fw-reg);
  font-size: var(--fs-h3);
  transition: color 0.25s cubic-bezier(0.5, 0, 0.5, 1);
}
.nav__item a:hover,
.nav__item a:active {
  color: var(--clr-accent);
  padding: 0.25em 0;
  border-bottom: 0.1rem solid var(--clr-accent);
  opacity: 0.9;
  outline: none;
}

.nav__item a:active {
  opacity: 1;
}
/* Intro section */
.intro {
  min-height: 100vh;
  min-height: 100svh;
}

.intro__subtitle {
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
}
.intro__title {
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
  border-bottom: 3px solid var(--clr-accent);
  overflow: hidden;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}
.intro__title--accent {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  -webkit-text-fill-color: var(--clr-accent);
  -webkit-text-stroke-width: 1px;
}
/* Tablet size */
@media screen and (min-width: 45em) {
  :root {
    /* Font size */
    --fs-h2: 4.8rem;
    --fs-h3: 3.6rem;
    --fs-h4: 2.4rem;
    --fs-body: 2rem;
    --fs-btn: 1.8rem;
    --pic-size: 400px;
  }
  /* Button */
  .btn {
    width: 175px;
    padding: 0.4em 0;
  }
  /* Navigation bar */
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    justify-content: end;
    /* max-height: 100%; */
    opacity: 1;
    padding: 0.4em 3em;
    margin: 0;
  }
  .nav__item {
    margin: 0.5rem 3rem;
  }
  .nav__item a {
    font-size: var(--fs-body);
  }
  /* Intro */
  .intro__title {
    letter-spacing: 0.3rem;
  }
  .intro__title--accent {
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    transition: -webkit-text-fill-color 0.5s ease-in-out;
  }
  .intro__title--accent:hover {
    -webkit-text-fill-color: var(--clr-accent);
  }
}
