<section class="block block--dark" ></section>
      <div class="container">
        <h2 class="block__heading">About me</h2>
        <div class="block__content">
          <p class="">
            I am self thought front-end developer who is passionate about
            building awesome websites! I have currently learned and used HTML,
            CSS, SASS, Javascript, React.
          </p>
          <p>
            As I strive to achieve my goal of becoming a professional front-end
            developer, I have acquired valuable experience through the
            completion of various projects at a beginner level, and my
            accumulated years of programming.

            <span class="read-more-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint odit alias voluptatibus ipsa rem, earum beatae ea aliquid quidem repellendus hic culpa omnis, aspernatur corporis fugiat autem? Nostrum, temporibus facilis?</span>
            <span class="read-more">Read More ... </span>
          </p>
        </div>
      </div>
    </section>