      <div class="project" >
        <div class="card">
              <a class="card__header project__item" href="#" >
                <img class="project__image" src="./image/quizapp400-400.png" alt="Quize App" />
              </a>
          <div class="card__body">
            <h4 class="project__header">Quiz App</h4>
            <p class="project__decsription">
              HTML, CSS, Javascript, Open Trivia Database API, Localstorage,
              Responsive
            </p>
          </div>
          <div class="card__footer">
            <a href="#" class="btn">See Live</a>
            <a href="#" class="btn btn--noborder ">Source Code</a>
          </div>
        </div>
      </div>