<section class="contact block block--dark" id="contact" >
      <div class="container">
        <h2 class="block__heading">Contact</h2>
        <div class="grid grid--fit">
          <div class="contact__card">
            <p><i class="fas fa-envelope"></i> Email</p>
            <p class="contact__description">fareli_n@yahoo.com</p>
          </div>
          <div class="contact__card">
            <p><i class="fas fa-mobile-alt"></i> Phone</p>
            <p class="contact__description">+1(747)-307-0685</p>
          </div>
          <div class="contact__card">
            <p><i class="fa-solid fa-location-dot"></i> Address</p>
            <p class="contact__description">Glendale, CA, 91202</p>
          </div>
        </div>
      </div>
    </section>