<section class="myworks block container" id="myworks">
      <h2 class="block__heading">My Works</h2>
      <div class="block__content">
        <div class="grid grid--fit">
          <!-- Project 1 -->
          <div class="project">
            <div class="card">
              <a
                class="card__header project__item"
                href="https://bucolic-florentine-290a21.netlify.app/"
                target="_blank"
              >
                <img
                  class="project__image"
                  src="./image/quizapp400-400.png"
                  alt="Quize App"
                />
              </a>
              <div class="card__body">
                <h4 class="project__header">Quiz App</h4>
                <p class="project__decsription">
                  HTML, CSS, Javascript, Open Trivia Database API, Localstorage,
                  Responsive
                </p>
              </div>
              <div class="card__footer">
                <a
                  href="https://bucolic-florentine-290a21.netlify.app/"
                  target="_blank"
                  class="btn"
                  >See Live</a
                >
                <a href="#" target="_blank" class="btn btn--accent">Code</a>
              </div>
            </div>
          </div>
          <!-- Project 2 -->
          <div class="project">
            <div class="card">
              <a
                class="card__header project__item"
                href="https://loquacious-eclair-b81822.netlify.app/"
                target="_blank"
              >
                <img
                  class="project__image"
                  src="./image/weatherapp400-400.png"
                  alt="Weather App"
                />
              </a>
              <div class="card__body">
                <h4 class="project__header">Weather App</h4>
                <p class="project__decsription">
                  HTML, SCSS, Javascript, OpenWeatherMap API, Geolocation API,
                  Responsive
                </p>
              </div>
              <div class="card__footer">
                <a
                  href="https://loquacious-eclair-b81822.netlify.app/"
                  target="_blank"
                  class="btn"
                  >See Live</a
                >
                <a href="#" target="_blank" class="btn btn--accent">Code</a>
              </div>
            </div>
          </div>
          <!-- Project 3 -->
          <div class="project">
            <div class="card">
              <a class="card__header project__item" href="#" target="_blank">
                <img
                  class="project__image"
                  src="./image/weatherapp400-400.png"
                  alt="Weather App"
                />
              </a>
              <div class="card__body">
                <h4 class="project__header">Weather App</h4>
                <p class="project__decsription">
                  HTML, SCSS, Javascript, OpenWeatherMap API, Geolocation API,
                  Responsive
                </p>
              </div>
              <div class="card__footer">
                <a href="#" target="_blank" class="btn">See Live</a>
                <a href="#" target="_blank" class="btn btn--accent">Code</a>
              </div>
            </div>
          </div>
          <!-- Project 4 -->
        </div>
      </div>
    </section>