<header>
  <nav class="nav collapsible collapsible--expanded">
    <button class="nav__toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#home">Home</a></li>
      <li class="nav__item"><a href="#about">About</a></li>
      <li class="nav__item"><a href="#myworks">My works</a></li>
      <li class="nav__item"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
